.title {
    text-align: center;
    color: rgb(221, 108, 15);
    background-color: #0000ff50;
    font-size: 64px;
    padding: 20px;
    margin-bottom: -16px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-wrap: stable;

}

h3 {
    box-sizing: border-box 200 200;
}



body {
    background-color: #0e9eb850;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 300px;

}

li {
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
}

.recipelist {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(221, 108, 15);
    color: #0e9eb850;
    padding-top: 24px;
    width: 900px;

}

.bye {
    color: rgb(221, 108, 15);
    background-color: #0000ff50;
    font-weight: 600;
    text-align: center;
    font-size: 36px;
    margin-top: -9.4px;
}

.chef {
    color: #0000ff50;
    background-color: rgb(221, 108, 15);
    padding-bottom: 24px;
    padding-top: 24px;
    padding-right: 40px;
    margin-bottom: -9px;
    margin-top: -16px;
    font-size: 22px;
    font-weight: 700;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 4px 4px 6px #0000ff50;
}

.food {
    margin-top: 16px;
}