.title {
    text-align: center;
    color: rgb(221, 108, 15);
    background-color: #0000ff50;
    font-size: 64px;

}

body {
    background-color: #0e9eb850;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 300px;

}

li {
    font-size: 20px;
    font-weight: 700;
}


* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-wrap: stable;

}